{% extends "base.html" %}

{% block content %}

<h2 class="mb-4 text-center">Our Blogs</h2>

<div class="row">

{% for blog in blogs %}

<div class="col-md-4 mb-4 fade-in">

    <div class="card blog-card">

        <img src="{{blog.image.url}}" class="card-img-top">

        <div class="card-body">

            <h5 class="card-title">{{blog.title}}</h5>

            <p class="card-text">
                {{blog.content|truncatewords:20}}
            </p>

            <a href="#" class="btn btn-outline-primary">Read More</a>

        </div>

    </div>

</div>

{% endfor %}

</div>

{% endblock %}